<h6>Public::Posts#index</h6>
<body>
 <main>
    <div class="col-md-6 offset-md-3">
      <h2>みんなの投稿</h2>
      <% @posts.each do |post| %>
          <% post.post_images.each do |image| %>
           <%= image_tag(image, width:100) %>
          <% end %>
        <% end %>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
             <th>写真</th>
             <th>投稿者</th>
             <th>タイトル</th>
             <th colspan="3"></th>
             </tr>
           </thead>
            <tbody>
              <% @posts.each do |post| %>
               <tr>
                <td>
                  <% @posts.each do |post| %>
                    <% post.post_images.each do |image| %>
                     <%= image_tag(image, width:50) %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= post.end_user.nickname %></td>
                <td><%= link_to post.title, public_post_path(post.id) %></td>
                <td>コメント数:<%= post.post_comments.count %></td>
                </tr>
             <% end %>
           </tbody>
        </table>
        <%= paginate @posts %>
      </div>
     </div>
   </div>
  </main>
</body>

