<% if flash[:alert] %>
 <div class="alert alert-danger" role="alert">
 <p class="notice text-center" style="color:red;"><%= flash[:alert] %></p></div>
<% end %>

<h1>新規投稿</h1>

<%= form_with model: @post_new, url: '/public/posts',method: :post do |f|  %>

   <%= f.label :title,"タイトル" %><br>
   <%= f.text_field :title %><br/>


   <%= f.label :post_images,"写真" %><br>
   <%= f.file_field :post_images,multiple: true, accept: "image/*" %><br />

   <%= f.label :body,"本文" %><br/>
   <%= f.text_area :body %><br/>

   <%= f.label :name,"タグ(タグは「,」で区切ることで、複数のタグ付けが可能です)" %><br />
   <%= f.text_field :name %><br />

  <%= f.submit '投稿する' %>


<% end %>