<h6>Public::Posts#show</h6>

<!--フラッシュメッセージ-->
<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

 <main>
    <div class="col-md-8 offset-md-1">
      <h2><%= @enduser.nickname %>さんの投稿詳細</h2>
      
          <% @post.post_images.each do |image| %>
           <%= image_tag(image, width:100) %>
          <% end %>
      
      <table class="table">
        <thead>
          <tr></tr>
        </thead>
         <tbody>
          <table class='table'>
  		      <tr>
              <td><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= link_to @post.title, public_enduser_path %></td>
              <td><%= @post.body %></td>

               <% if @post.end_user_id == current_end_user.id %>
                <td><%= link_to 'Edit', edit_public_post_path(@post), class: "btn btn-sm btn-success" %><td>
                <td><%= link_to 'Destroy',public_post_path(@post), method: :delete, data: { confirm: "この操作は取り消せませんが、本当に削除しますか?" }, class: "btn btn-sm btn-danger" %></td>
               <% end %>
           </tr>
         </tbody>
      </table>
     </div>
    </div>
   </div>
</main>
