<h6>Public::Posts#show</h6>

<!--フラッシュメッセージ-->
<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
  <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p>
 </div>
<% end %>

 <main>
  <div class="col-md-8 offset-md-1">
   <h2><%= @enduser.nickname %>さんの投稿詳細</h2>
    <div id="favorite_btn_<%= @post.id %>">
     <%= render 'public/favorites/favorite', post: @post %>      <!--namespaceを利用している場合は、public/adminから書かないと、テンプレートを引用できないので注意-->
    </div>
   <table class='table'>
  		 <tr>
  		   <td>
  		    <% @post.post_images.each do |image| %>
         <%= image_tag(image, width:100) %>
        <% end %>
       </td>
       <td><%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
       <td style="width: 15%"><%= link_to @post.title, public_enduser_path(@post.end_user.id) %></td>
       <td><%= @post.body %></td>
        <% if @post.end_user_id == current_end_user.id %>
        <td><%= link_to '編集', edit_public_post_path(@post), class: "btn btn-sm btn-success" %><td>
        <td><%= link_to '削除',public_post_path(@post), method: :delete, data: { confirm: "この操作は取り消せませんが、本当に削除しますか?" }, class: "btn btn-sm btn-danger" %></td>
       <% end %>
       <tr>
        タグ:
        <% @post_tags.each do |tag| %>
          <%= link_to tag.name,public_search_tag_path(tag_id: tag.id) %><%="(#{tag.posts.count})" %>
        <% end %>
       </tr>

       <tr></tr>



      </tr>
    </table>
    <%= @post.post_comments.count %>コメント
      <%= render "public/post_comments/comment", post: @post %>
      <%= render "public/post_comments/comment_form", post: @post, post_comment: @post_comment %>
  </div>
</main>


