<!--フラッシュメッセージ-->
<% if flash[:notice] %>
<!--アラート(帯をつけた状態)で出力させる-->
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
     <%= image_tag ('PF_logo.png') %>

      <h1>ようこそ<strong>シェアたび</strong>へ!</h1>

  　　 　<p>
         シェアたび(share-tabi)は、<br>
         「旅の思い出を振り返りながら、ゆるっと繋がる」をコンセプトにしたサイトです。
       </p>
        <div class="row align-bottom mx-auto">
         <div class="mx-auto">
          <%= link_to "シェアたびとは?",about_path %>
         </div>
        </div>
        <%= image_tag asset_path("Top_img.jpg"), size: "350x300" %>
     </div>
    </div>

   <div class="row text-center">
     <div class="mx-auto">
       <%= link_to "ゲストログイン(閲覧用)", endusers_guest_sign_in_path, class: "btn btn-primary", method: :post %>

       <%= link_to "ログイン",new_end_user_session_path, class: "btn btn-info" %>

       <%= link_to "サインアップ",new_end_user_registration_path, class: "btn btn-success" %>

       <%= link_to "管理者ログイン",new_admin_session_path,class: "btn btn-default" %>
   </div>
  </diV>

</div>
