<!--フラッシュメッセージ-->
<% if flash[:notice] %>
<!--アラート(帯をつけた状態)で出力させる-->
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class="row">
 <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

 <%= image_tag('PF_logo.png') %>

  <h1>ようこそ<strong>シェアたび</strong>へ!</h1>

  <p>「シェアたび」は、旅の思い出を、スクラップブックにするサイトです</p>


     <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
         <%= link_to "ゲストログイン", endusers_guest_sign_in_path, class: "btn btn-primary", method: :post %>
        </div>
        <div class="row">
         <%= link_to "ログイン",new_end_user_session_path, class: "btn btn-info" %>
        </div>
        <div class="row">
          <%= link_to "サインアップ",new_end_user_registration_path, class: "btn btn-success" %>
        </div>
       </div>

   <div class="btn-wrapper col-10 mx-auto">
    <div class="row">
     <%= link_to "管理者ログイン",new_admin_session_path,class: "btn btn-default" %>
   </div>
  </diV>

</div>
