<h6>Admin::Posts#index</h6>
<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class = "container">
  <div class ="row">
    <h3 class ="px-5 bg-light">投稿一覧</h3>
  </div>
  <div class ="row col-lg-10">
    <table class ="table">
      <thead class ="bg-light">
          <tr>

              <th style="width: 20%">投稿日時</th>
              <th>投稿者</th>
              <th style="width: 20%">投稿タイトル</th>
              <th style="width: 40%">投稿内容</th>
              <th style="width: 20%">コメント数</th>
          </tr>
      </thead>
      <tbody>
       <% @posts.each do |post| %>
               <tr>
                <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
                <td><%= post.end_user.nickname %></td>
                <td><%= link_to post.title, admin_post_path(post.id) %></td>
                <td><%= post.body %></td>
                <td><%= link_to post.post_comments.count,admin_post_comments_path %>コメント</td>
                </tr>
             <% end %>
      </tbody>
       <%= paginate @posts %>
    </table>

