<div class = "container">
  <div class="row">
     <h3 class="px-4 bg-light" ><%= @enduser.nickname %>さんの投稿詳細</h3>
      <table class="table">
  		    <tr>
            <td>
               <% if @enduser.profile_image.attached? %>
                <%= image_tag @enduser.profile_image, size: "100x100" %><br />
               <% else %>
                <%= image_tag asset_path ("no_image.jpg"), size: "100x100" %><br />
               <% end %>
            </td>
            <td>
             <% @post.post_images.each do |image| %>
              <%= image_tag(image, width:100) %>
             <% end %>
            </td>
            <td><%= link_to @post.title, admin_post_path %></td>
            <td><%= @post.body %></td>
            <td class="sentiment-score">感情分析スコア<%= @post.score %></td>
            <td><%= render "public/post_comments/comment", post: @post %></td>
            <!--管理者であれば。削除ボタンを表示させる-->
            <% if admin_signed_in? %>
             <td><%= link_to 'Destroy',admin_post_path(@post), method: :delete, data: { confirm: '投稿を削除しますか?' }, class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
         </table>
     </div>
  </div>