<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:red;"><%= flash[:notice] %></p></div>
<% end %>

<%= form_with model: @enduser, url: admin_enduser_path(@enduser.id), method: :patch do |f| %>
<div class = "container">
  <div class ="row">
    <h3 class ="px-5 bg-light">会員編集</h3>
    <table class = "table">
    <thead>
       <td>会員ID</td>
       <td><%= @enduser.id %></td>
      </tr>

      <tr>
       <td>ニックネーム</td>
       <td><%= @enduser.nickname %></td>
      </tr>

      <tr>
        <td>メールアドレス</td>
        <td><%= @enduser.email %></td>
      </tr>


      <tr>
       <td><%= f.label :is_deleted,"会員ステータス" %></td>
       <td>
         <%= f.radio_button :is_deleted, false %>
         <%= f.label :is_deleted, "有効"  %>
         <%= f.radio_button :is_deleted, true %>
         <%= f.label :is_deleted, "無効" %>
       </td>
      </tr>
   </table>
   
   <div class="form-group">
     <%= f.submit '変更を保存', class:"btn btn-success" %>
   </div>
      <% end %>
   <div class="form-group">
     <%= link_to "詳細へ戻る",admin_enduser_path(@enduser.id), class: "btn btn-default" %>
   </div>
 </div>
 