
<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class = "container">
  <div class ="row">
   <div class="col-md-8 offset-md-1">
    <h3 class ="px-5 bg-light">会員一覧</h3>
     <table class = "table">
      <thead>
       <tr>
         <td>会員ID</td>
         <td>氏名</td>
         <td>メールアドレス</td>
         <td>ステータス</td>
       </tr>
      </thead>
      <tbody>
        <% @endusers.each do |enduser| %>
         <tr>
          <td><%= enduser.id %></td>
          <td><%= link_to enduser.nickname, admin_enduser_path(enduser.id) %></td>
          <td><%= enduser.email %></td>
          <td>
           <% if enduser.is_deleted == false %>
            <%= '有効' %>
           <% else %>
            <%= '退会' %>
           <% end %>
          </td>
         </tr>
        <% end %>
      </tbody>
     </table>
    </div>
    <div class="row align-bottom mx-auto">
     <div class="mx-auto">
     <%= paginate @endusers %>
     </div>
    </div>
  </div>