 <div class = "container">
  <div class ="row">
    <h3 class ="px-5 bg-light">会員詳細</h3>
    <table class = "table">
    <thead>
   <tr>
    <td>会員ID</td>
    <td><%= @enduser.id %></td>
   </tr>

    <tr>
     <td>ニックネーム</td>
     <td><%= @enduser.nickname %></td>
    </tr>
    
    <tr>
     <td>メールアドレス</td>
     <td><%= @enduser.email %></td>
    </tr>

    <tr>
     <td>会員ステータス</td>
      <td>
       <% if @enduser.is_deleted == false %>
         <p class="text-success"><%= '有効' %></p>
       <% else %>
         <p class="text-secondary"><%= '退会' %></p>
       <% end %>
      </td>
     </tr>
    </thead>
  </table>
 </div>

<div class="row">
 <div class="mx-auto py-5 mr-5 justify-content-center">
  <%= link_to "編集する",edit_admin_enduser_path(@enduser.id),class: "btn btn-info" %>
  <%= link_to "会員一覧へ",admin_root_path, class: "btn btn-primary" %>
 </div>
</div>