<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>


<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1 class ="px-5 bg-light">welcome page</h1>
     <h2>ようこそ、<%= @enduser.nickname %>さん!</h2>

     <table class="table">
     <div class="menu">
      <h4>見る</h4>
      <i class="fas fa-book-open"></i><%= link_to "自分の投稿を見る",public_enduser_path(current_end_user.id) %>
      <i class="fas fa-book"></i><%= link_to "みんなの投稿を見に行く",public_posts_path %>
      <i class="fas fa-bookmark"></i><%= link_to "いいねした投稿を見る", favorites_public_enduser_path(@enduser) %>
     </div>

     <div class="menu">
      <h4>作る</h4>
       <i class="fas fa-pen-nib"></i><%= link_to "新しい旅の思い出を作る",new_public_post_path %>
     </div>

      <div class="menu">
       <h4>編集する</h4>
        <i class="fas fa-user-cog"></i><%= link_to "アカウント編集",edit_public_enduser_path(current_end_user.id) %>
      </div>


      <div class "menu">
        <i class="fas fa-user-slash"></i><%= link_to "退会する",public_quit_path(current_end_user.id) %>
      </div>


       <div class="menu">
        <%= link_to"トップページへ",root_path,class:"btn btn-default"  %>
      </div>


  <!--Mapの表示--->
 <h4>
   <i class="fas fa-search-location"></i>
   場所を調べる
 </h4>

 <input id="address" type="textbox" value="Sydney, NSW">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6769883, lng: 139.7588499},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
    </div>

      </div>
    </div>







