<% if flash[:notice] %>
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>


<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1 class ="px-5 bg-light">welcome page</h1>
     <h2>ようこそ、<%= @enduser.nickname %>さん!</h2>
     
     <table class="table">
     <div class="menu">
      <h4>見る</h4>
      <%= link_to "自分の投稿を見る",public_enduser_path(current_end_user.id) %>
      <%= link_to "みんなの投稿を見に行く",public_posts_path %>
      <%= link_to "いいねした投稿を見る", favorites_public_enduser_path(@enduser) %>
     </div>
     
     <div class="menu">
      <h4>作る</h4>
        <%= link_to "新しい旅の思い出を作る",new_public_post_path %>
     </div>
       
      <div class="menu">
       <h4>編集する</h4>
        <%= link_to "アカウント編集",edit_public_enduser_path(current_end_user.id) %>
      </div>
      
     
      <div class "menu">
        <%= link_to "退会する",public_quit_path(current_end_user.id) %>
      </div>
      
       
       <div class="menu">
        <%= link_to"トップページへ",root_path,class:"btn btn-default"  %>
      </div>
      </div>
    </div>
         
      
      
       
  
 

            