<!--フラッシュメッセージ-->
<% if flash[:notice] %>
<!--アラート(帯をつけた状態)で出力させる-->
 <div class="alert alert-success" role="alert">
 <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>


<main>
 <div class="container px-5 px-sm-0">
  <h1><%= @enduser.nickname %>さんのマイページ</h1>
   <div class="row">
    <div class="col-md-3">
      <h2>利用者情報</h2>
       <% if @enduser.profile_image.attached? %>
          <%= image_tag @enduser.profile_image, size: "200x200" %><br />
       <% else %>
           <%= image_tag 'no_image.jpg', size: "200x200" %><br />
       <% end %>
        <table class="table">
         <tbody>
          <tr></tr>
          <tr>
	          <th>name</th>
	           <td><%= @enduser.nickname %></td>
           </tr>

          <tr>
	          <th>introduction</th>
	           <td><%= @enduser.introduction %></td>
          </tr>
         </tbody>
       </table>
       <!--利用者情報の下に、投稿した画像一覧を出したい(enduserが投稿したpostに紐づく画像を出したい)-->
        <% @posts.each do |post| %>
          <% post.post_images.each do |image| %>
           <%= link_to image_tag(image, width:100), post_path(post.id)  %>
          <% end %>
        <% end %>
     </div>

     <div class="col-md-8 offset-md-1">
       <h2>
        <i class="fas fa-book-open"></i>
        今までの投稿
       </h2>
        <% if @enduser.id == current_end_user.id %>
         <%= link_to "新しい旅の思い出を作る", new_post_path %>
        <% end %>
          <%= link_to "いいねした投稿を見る", favorites_enduser_path(@enduser.id) %>
         
        <table class="table">
          <thead>
           <tr>
            <th>投稿日時</th>
            <th>タイトル</th>
            <th>内容</th>
            <th colspan="3"></th>
           </tr>
          </thead>
           <tbody>
            <% @posts.each do |post| %>
             <tr>
               <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
               <td><%= link_to post.title, post_path(post.id) %></td>
               <td><%= safe_join(post.body.split("\n"),tag(:br)) %></td>
             </tr>
           <% end %>
         </tbody>
       </table>
       <%= paginate @posts %>
     </div>
   </div>
  </div>
</main>
