<div class = "container">
  <div class ="row">
    <h3 class ="px-5 bg-light">コメント詳細</h3>
  </div>
  <div class ="row col-lg-10">
    <table class ="table">
      <thead>
          <tr>
           <th>投稿日時</th>
           <th style="width: 20%">投稿ユーザー</th>
           <th style="width: 40%">コメント内容</th>
           <th>コメント感情スコア</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td><%= @comment.end_user.nickname %></td>
              <td><%= @comment.comment %></td>
              <td><%= @comment.score %></td>
              <% if admin_signed_in? %>
               <td><%= link_to 'Destroy',admin_post_comment_path(@comment), method: :delete, data: { confirm: 'コメントを削除しますか?' }, class: "btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
       </tbody>
    </table>
  </div>

