<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand p-3">
        　<%= link_to "シェアたび",root_path %>
        </span>
      <div>
        <ul class="navbar-nav pt-3">
          <% if end_user_signed_in? %>
          <li>
            <%= link_to "マイページ", public_root_path, class: "nav-link" %>
          </li>
          <li>
            <%#= link_to "アカウント編集",edit_public_enduser_path, class: "nav-link" %>
          </li>
          <li>
            <%=link_to "みんなの投稿",public_posts_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
          <li>
            <%= link_to"トップページへ",root_path,class:"link"  %>
          </li>
          <li>
            <%= link_to"サインアップ", "/end_users/sign_up",class:"link" %>
          </li>
          <li>
            <%= link_to"ログイン", "/end_users/sign_in",  class:"link" %>
          </li>
          
          <% end %>
      
        </ul>
      </div>
    </div>
  </nav>
</header>