<!DOCTYPE html>
<html>
  <head>
    <title>ShareTabi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--画像のプレビュー用に追加--->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--ここまで-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

 <body class="d-flex flex-column">

    <% if admin_signed_in? %>
      <%= render "layouts/admin_header" %>
    <% else %>
      <%= render "layouts/enduser_header" %>
    <% end %>
     <main>
　　    <%= yield %>
    </main>
  </body>

<footer>
  <%= render "layouts/footer" %>
</footer>

</html>


